.header {
  display: flex;
  background-color: #f4483e;
}
.header .wt50 {
  width: 1rem /* 50/50 */;
  height: 1rem /* 50/50 */;
}
.header .ids-title {
  flex: 1;
  line-height: 1rem /* 50/50 */;
  font-size: 0.4rem /* 20/50 */;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.coupon-title .count {
  overflow: hidden;
  padding: 0.3rem /* 15/50 */ 0.2rem /* 10/50 */;
}
.coupon-title .count .shop {
  text-align: center;
  height: 1.5rem /* 75/50 */;
  width: 25%;
  border: 1px solid #ccc;
  float: left;
  padding: 0.1rem /* 5/50 */ 0;
  margin-right: 0.1rem /* 5/50 */;
  margin-bottom: 0.1rem /* 5/50 */;
}
.coupon-title .count .shop a {
  display: block;
}
.coupon-title .count .shop a img {
  width: 1rem /* 50/50 */;
  height: 1rem /* 50/50 */;
  margin: 0 auto;
}
